<%= form_for :paper, url: paper_path(@paper), method: :patch do |f| %>
<br>
  <p>
    Name <br>
    <%= f.text_field :title, placeholder: "title", class: 'form-control' %>
  </p>

  <p>
    Content <br>
  <%= f.text_area :content, placeholder: "content", class: 'form-control' %>
</p>

  <p>
    <%= f.submit class: 'btn btn-secondary' %>
  </p>
<% end %>
